
UCSanDiegoX: DSE200x Python for Data Science

# Final Project: Predictors of Attitudes towards Opioids (WORKING)

### Objective: To identify clusters of demographic and experiential variables that are associated with attitudes towards opioids.

### Method: Combine data from mutiple sources to create a variable identifying each survey response geography as urban, suburban, or rural. Conduct k-modes cluster analysis to determine whether there are clusters of demographic and experiential variables associated with attitudes towards opioids, including urban, suburban or rural geography.

Datasources:
1. Proprietary survey, n = 1,200
    
    - Geographic: _VGeoRegion_ (String): State; _Vpostal_ (String): Zip code
    - Demographic/Experiential: var9, var11, var12, var13, educrec, incomerec, var16, politrec, var217
    - Attitudinal:  var230, var231, var232, var233, var234, var235, var236, var237rec, var238rec, var239rec, var240rec, var241rec, var242rec, var243rec, var244rec, var245rec, var246, var247rec var248rec, var249rec, var250rec, var251rec, var252rec, var253rec, var254rec, var255rec
    

2. 2015 ZIP Code Tabulation Areas Gazetteer File, n = 33,144 
https://www.census.gov/geo/maps-data/data/gazetteer2015.html

    - _GEOID_: Five digit ZIP Code Tabulation Area Census Code; *ALAND_SQMI*: Land Area (square miles)
    

3. B25001 HOUSING UNITS by ZCTA, 2012-2016 American Community Survey 5-Year Estimates, n = 33,120 https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_16_5YR_B25001&prodType=table

    - _GEO.id2_: Five digit ZIP Code Tabulation Area Census Code; *HD01_VD01*: Housing Units, Estimated

### Identify each Zip Code Tabulation Area as Urban, Suburban, or Rural based on housing density

ZCTA housing density = Number of housing units in ZCTA/Square miles in ZCTA

Values:
0. Urban: >2,213 households per square mile; 
1. Suburban: 102 to 2,213 households per square mile; 
2. Rural: <102 households per square mile

Source: https://fivethirtyeight.com/features/how-suburban-are-big-american-cities/

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in Opioids survey dataset
df_opioids = pd.read_csv('OpioidsWKNG.csv')

In [3]:
df_opioids.head()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var245rec,var247rec,var248rec,var249rec,var250rec,var251rec,var252rec,var253rec,var254rec,var255rec
0,17,3/20/2018,Complete,,,English,,1521528719_5ab0af8fe318c0.83350522,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,47.40.144.98,...,2,2,2,1,1,2,1,1,1,1
1,18,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/9ed49688-a2...,1521528831_5ab0afff9dad82.74757954,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,24.99.168.150,...,1,1,2,1,2,1,1,2,1,1
2,22,3/20/2018,Complete,,,English,,1521528941_5ab0b06d95d276.07495051,Mozilla/5.0 (Linux; Android 7.0; Moto G (4) Bu...,47.151.21.204,...,1,2,1,1,1,1,1,2,2,2
3,23,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/ed2140dc-95...,1521528964_5ab0b084821f35.43447059,Mozilla/5.0 (X11; CrOS x86_64 8872.73.0) Apple...,98.200.10.6,...,1,2,1,1,2,1,1,1,2,2
4,24,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/0529624f-1a...,1521528989_5ab0b09d6dc659.59506533,Mozilla/5.0 (iPhone; CPU iPhone OS 8_4 like Ma...,174.210.7.12,...,1,2,1,1,2,1,1,2,2,2

In [58]:
# Check zip code frequencies
df_opioids.Vpostal.value_counts()

10006    18
33132    10
20019     7
80238     6
33074     4
77450     4
20011     4
80206     4
75211     4
80203     4
90009     4
02740     4
80209     4
98103     4
90028     4
33018     4
60628     3
77072     3
76028     3
80220     3
80634     3
01824     3
22314     3
33012     3
80014     3
30518     3
10011     3
30044     3
80205     3
89147     3
         ..
30096     1
80110     1
92880     1
60640     1
92870     1
23060     1
60016     1
01835     1
90201     1
30013     1
90807     1
35603     1
98391     1
20646     1
45102     1
91605     1
91755     1
60450     1
30024     1
33312     1
98007     1
21755     1
10036     1
33316     1
40336     1
80260     1
41041     1
22152     1
92821     1
01453     1
Name: Vpostal, Length: 829, dtype: int64

In [5]:
# Display rows with one or more null values
df_opioids[df_opioids.isnull().any(axis=1)]

Empty DataFrame
Columns: [Vrid, Vdatesub, Vstatus, Vcid, Vcomment, Vlanguage, Vreferer, Vsessionid, Vuseragent, Vip, Vlong, Vlat, VGeoCountry, VGeoCity, VGeoRegion, Vpostal, var9, var9O826Othr, var10, var10O827Othr, var11, var12, var13, var14, var15, var16, var17, var217, var18, var19, var20, var21, var22, var23, var24, var25, var26, var27, var28, var29, var30, var31, var32, var33, var34, var35, var36, var37, var38, var39, var40, var41, var42, var43, var44, var45, var46, var47, var48, var49, var50, var51, var52, var53, var54, var55, var56, var57, var58, var59, var60, var61, var62, var63, var64, var65, var66, var67, var68, var69, var70, var71, var72, var73, var74, var75, var76, var77, var78, var79, var80, var81, var82, var83, var84, var85, var86, var87, var88, var89, ...]
Index: []

[0 rows x 235 columns]

In [6]:
# Replace missing values ' ' in Vpostal with missing values np.nan objects
df_opioids['Vpostal'].replace(' ', np.nan, inplace=True)

In [7]:
# Display rows with one or more null values
df_opioids[df_opioids.isnull().any(axis=1)]

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var245rec,var247rec,var248rec,var249rec,var250rec,var251rec,var252rec,var253rec,var254rec,var255rec
39,86,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/29a88dcd-59...,1521530117_5ab0b505f37071.67601545,Mozilla/5.0 (Linux; Android 6.0; LG-K373 Build...,107.77.173.12,...,1,1,1,1,2,2,2,1,1,1
64,125,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/faaf7464-18...,1521530549_5ab0b6b5a801f2.23483168,Mozilla/5.0 (Linux; Android 7.0; SM-G930V Buil...,72.168.144.250,...,1,2,1,1,2,1,1,2,2,2
66,127,3/20/2018,Complete,,,English,,1521530598_5ab0b6e6aa7d71.97758483,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,174.32.160.234,...,1,1,2,2,1,1,2,1,1,1
113,206,3/20/2018,Complete,,,English,,1521532036_5ab0bc843e3185.48398254,Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like M...,174.255.133.179,...,2,2,1,2,1,1,1,2,2,1
161,284,3/20/2018,Complete,,,English,,1521557945_5ab121b9cfd0a4.06084619,Mozilla/5.0 (Linux; Android 6.0; BLU STUDIO G2...,38.132.117.101,...,2,2,1,2,2,1,2,2,2,2
164,292,3/20/2018,Complete,,,English,,1521558007_5ab121f7b8d0d2.49278047,Mozilla/5.0 (Linux; Android 6.0; BLU ADVANCE 4...,38.132.117.108,...,1,1,1,1,1,1,1,1,1,1
167,297,3/20/2018,Complete,,,English,,1521558148_5ab12284dea6e0.56965142,Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.3...,172.164.1.183,...,2,1,1,1,1,1,1,1,1,1
172,304,3/20/2018,Complete,,,English,,1521558222_5ab122ce216622.35270772,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.17.238,...,1,1,1,1,1,1,1,1,1,1
187,321,3/20/2018,Complete,,,English,,1521558472_5ab123c824b908.35655993,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.17.91,...,1,1,1,1,1,1,1,1,1,1
194,331,3/20/2018,Complete,,,English,,1521558333_5ab1233d2033f3.78203647,Mozilla/5.0 (Linux; Android 4.4.2; DASH C MUSI...,38.132.117.107,...,1,1,1,1,1,1,1,1,1,1
201,343,3/20/2018,Complete,,,English,,1521558918_5ab12586c90cf9.53427405,Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_6 like...,107.77.207.41,...,1,1,2,1,2,1,1,1,1,1
227,387,3/20/2018,Complete,,,English,,1521559746_5ab128c2822c83.87145848,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.0.243,...,1,2,1,1,1,1,1,1,1,1
230,394,3/20/2018,Complete,,,English,,1521559833_5ab12919d39425.98354335,Mozilla/5.0 (Linux; Android 5.1.1; Alcatel_406...,38.132.117.107,...,1,1,2,1,1,1,1,1,1,1
247,423,3/20/2018,Complete,,,English,,1521560495_5ab12baf0af2d6.99084027,Mozilla/5.0 (Linux; Android 5.0; SAMSUNG-SM-G9...,68.133.83.51,...,1,1,2,1,1,1,1,1,1,1
250,428,3/20/2018,Complete,,,English,,1521560577_5ab12c012041f9.93188406,Mozilla/5.0 (Linux; Android 6.0; BLU ADVANCE 4...,38.132.117.106,...,1,1,1,1,1,1,1,1,1,1
255,434,3/20/2018,Complete,,,English,,1521560666_5ab12c5a2c2113.40223888,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.10.102,...,1,1,1,1,1,1,1,1,1,1
258,440,3/20/2018,Complete,,,English,,1521560732_5ab12c9c3f30f7.50999800,Mozilla/5.0 (Linux; Android 7.0; Alcatel_5044R...,38.132.117.106,...,2,1,1,1,1,1,1,1,1,1
259,442,3/20/2018,Complete,,,English,,1521560853_5ab12d15979715.65379763,Mozilla/5.0 (Linux; Android 7.1.1; SM-N950U Bu...,107.77.200.53,...,1,2,1,1,2,1,1,2,1,2
261,444,3/20/2018,Complete,,,English,,1521560917_5ab12d55134b45.20252529,Mozilla/5.0 (Windows NT 6.1; rv:52.0) Gecko/20...,172.164.10.240,...,1,1,1,1,1,1,1,1,1,1
270,460,3/20/2018,Complete,,,English,,1521561273_5ab12eb92ad0a5.26060242,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:56.0) ...,172.164.46.28,...,1,2,1,1,1,1,1,2,1,1
273,463,3/20/2018,Complete,,,English,,1521561272_5ab12eb8c4df54.61948882,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.12.173,...,1,1,1,1,1,1,1,1,1,1
274,465,3/20/2018,Complete,,,English,,1521561414_5ab12f464dbe84.95717674,Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.3...,172.164.14.125,...,1,1,1,1,1,1,2,1,1,1
279,471,3/20/2018,Complete,,,English,,1521561477_5ab12f85a9d601.56063272,Mozilla/5.0 (Linux; Android 6.0.1; 12345 Build...,38.132.117.103,...,1,1,1,1,1,1,1,1,1,1
300,502,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/8fb1e0ef-63...,1521562017_5ab131a15aeaa9.76056768,Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_6 like...,107.77.165.12,...,1,1,1,2,2,2,2,2,1,2
310,517,3/20/2018,Complete,,,English,,1521562389_5ab13315787882.90699618,Mozilla/5.0 (Windows NT 6.2) AppleWebKit/537.3...,172.164.17.135,...,2,2,1,1,1,1,2,1,2,1
319,532,3/20/2018,Complete,,,English,,1521562744_5ab13478f228e4.26088511,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.51.116,...,1,1,1,1,2,2,2,1,1,1
321,535,3/20/2018,Complete,,,English,,1521562743_5ab13477627b61.52361895,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.10.88,...,1,1,2,1,1,1,1,1,1,1
322,538,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/a86c2162-3a...,1521562783_5ab1349f80f995.26761584,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.30.177,...,1,1,1,1,1,1,1,1,1,1
323,539,3/20/2018,Complete,,,English,,1521562844_5ab134dc7194d5.03605110,Mozilla/5.0 (Linux; Android 6.0.1; 12345 Build...,38.132.117.103,...,1,1,1,1,1,1,1,1,1,1
342,565,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/9a8b3ec2-f1...,1521563414_5ab13716809861.38488568,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.10.84,...,2,2,2,1,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,943,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/6247475a-d9...,1521578106_5ab1707a1c14d6.89965754,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.20.19,...,1,2,2,2,1,2,1,1,1,1
559,968,3/20/2018,Complete,,,English,,1521578859_5ab1736b492734.91526497,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,172.164.0.13,...,1,2,2,1,2,2,1,2,2,2
583,1021,3/20/2018,Complete,,,English,,1521581591_5ab17e171389a8.06030954,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.17.211,...,1,1,1,1,1,2,1,1,1,1
627,1112,3/20/2018,Complete,,,English,,1521583874_5ab18702081140.89324532,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.14.245,...,1,1,1,1,1,1,1,1,1,1
635,1128,3/20/2018,Complete,,,English,,1521584416_5ab189209a3c88.55600564,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.0.200,...,1,1,1,1,2,1,1,1,2,1
651,1156,3/20/2018,Complete,,,English,,1521585106_5ab18bd2b5c6b1.49954998,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.101.241,...,1,1,2,1,1,1,1,1,1,1
658,1175,3/20/2018,Complete,,,English,,1521585707_5ab18e2bdb9812.36889962,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.17.51,...,1,1,2,1,1,1,1,1,2,1
677,1208,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/d3151ddb-15...,1521586874_5ab192bab65c34.26822931,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,200.84.175.79,...,2,2,1,2,1,2,1,1,1,2
694,1246,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/05dd0b07-74...,1521587980_5ab1970ce75a75.04400728,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:59.0) G...,75.149.236.142,...,1,2,1,1,1,1,1,1,1,1
701,1256,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/f9f762b4-e1...,1521588170_5ab197ca316ac7.85973602,Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_6 like...,107.77.220.122,...,1,1,1,1,1,1,1,1,1,1
737,1317,3/20/2018,Complete,,,English,,1521590039_5ab19f17395124.85928713,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.8.70,...,1,1,2,1,2,1,1,1,1,2
757,1376,3/20/2018,Complete,,,English,,1521592562_5ab1a8f2535388.77643937,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.0.233,...,1,1,1,1,1,1,1,1,1,1
795,1456,3/20/2018,Complete,,,English,,1521596374_5ab1b7d61837d7.14858052,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.1.151,...,2,2,2,2,2,2,2,2,2,2
799,1460,3/21/2018,Complete,,,English,,1521596484_5ab1b8440f2980.02200076,Mozilla/5.0 (Windows NT 6.1; rv:52.0) Gecko/20...,172.164.14.40,...,1,1,1,1,1,1,1,1,1,1
806,1474,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/6b8ebda3-18...,1521596884_5ab1b9d49be3c1.56735310,Mozilla/5.0 (Windows NT 10.0; rv:56.0) Gecko/2...,172.164.30.41,...,1,1,1,1,1,1,1,1,1,1
816,1499,3/20/2018,Complete,,,English,,1521597864_5ab1bda810cc12.78390363,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.0.163,...,1,1,1,1,1,1,1,1,1,1
819,1503,3/20/2018,Complete,,,English,,1521598019_5ab1be43ab2830.18053371,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.4.109,...,2,1,2,2,1,1,2,1,2,2
823,1515,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/2597a2b0-92...,1521598874_5ab1c19adde514.50529115,Mozilla/5.0 (Linux; Android 7.0; SAMSUNG SM-G9...,107.77.218.73,...,1,1,1,2,1,1,1,1,1,1
827,1535,3/20/2018,Complete,,,English,,1521599639_5ab1c4971dca38.60297622,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.30.110,...,1,1,1,2,1,2,2,2,2,2
842,1576,3/20/2018,Complete,,,English,,1521601525_5ab1cbf57dfd19.94329968,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.8.174,...,2,1,2,1,2,1,2,2,1,2
907,1749,3/21/2018,Complete,,,English,https://s.cint.com/Consent/Collect/d6d52fec-38...,1521642646_5ab26c96c500b7.93622826,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.46.220,...,1,2,1,1,2,1,1,2,1,1
911,1759,3/21/2018,Complete,,,English,,1521644577_5ab27421579a27.13376347,Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.3...,172.164.0.121,...,2,1,1,1,1,1,1,1,2,1
1014,2067,3/22/2018,Complete,,,English,,1521731458_5ab3c7829636c1.17640511,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.0.244,...,2,1,2,2,1,2,1,2,2,2
1016,2071,3/22/2018,Complete,,,English,,1521732532_5ab3cbb4b044b0.60373854,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.8.110,...,1,1,1,1,1,1,1,1,1,1
1043,2177,3/23/2018,Complete,,,English,,1521802199_5ab4dbd7514dd0.64490594,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.30.34,...,1,1,1,1,2,1,2,1,2,1
1126,2673,3/28/2018,Complete,,,English,https://s.cint.com/,1522274278_5abc0fe67b88d4.57085980,Mozilla/5.0 (Windows NT 6.1; rv:59.0) Gecko/20...,172.164.17.46,...,1,1,1,1,1,1,1,1,1,1
1150,2986,4/3/2018,Complete,,,English,,1522764747_5ac38bcb675301.35344166,Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537....,172.164.17.18,...,1,1,1,1,1,1,1,1,1,1
1191,3229,4/15/2018,Complete,,,English,,1523835401_5ad3e209f31fa9.94739510,Mozilla/5.0 (Windows NT 6.1; rv:56.0) Gecko/20...,172.164.30.82,...,2,1,2,1,1,1,1,1,1,1
1194,3245,4/16/2018,Complete,,,English,,1523896629_5ad4d1359b5219.36400740,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,172.164.14.40,...,1,1,1,1,1,1,1,1,1,1
1196,3267,4/16/2018,Complete,,,English,,1523897593_5ad4d4f9abd7b2.78511259,Mozilla/5.0 (Linux; Android 6.0; BLU ADVANCE 4...,192.225.161.2,...,2,1,2,2,2,2,2,2,1,2

In [8]:
# Drop rows with missing values in Vpostal
df2_opioids=df_opioids.dropna(subset=['Vpostal'])

In [9]:
# Check number of rows before and after dropna
before_rows = df_opioids.shape[0]
print(before_rows)

1200

In [10]:
after_rows = df2_opioids.shape[0]
print(after_rows)

1101

In [11]:
# Check how many of the remaining records have states attached
df2_opioids.VGeoRegion.value_counts()

TX    168
CA    151
GA     90
WA     87
MA     87
CO     86
IL     81
NY     80
FL     68
VA     39
MD     32
DC     26
NJ     18
MI     10
OH      8
NC      7
KY      5
PA      5
AZ      5
CT      4
WI      4
IN      4
NV      4
OR      3
ID      3
ME      3
HI      2
SC      2
AL      2
RI      2
DE      2
UT      2
KS      1
WV      1
AK      1
AR      1
MS      1
IA      1
WY      1
MN      1
LA      1
OK      1
MO      1
Name: VGeoRegion, dtype: int64

In [12]:
df2_opioids['Vpostal']

0       49048
1       30022
2       92683
3       77036
4       90026
5       60073
6       98501
7       77040
8       10463
9       90013
10      95124
11      76033
12      10016
13      01463
14      75134
15      90004
16      75115
17      33025
18      94127
19      75270
20      92126
21      97403
22      91741
23      92415
24      30039
25      90038
26      60438
27      95132
28      92882
29      98405
        ...
1167    20011
1168    20814
1169    27804
1170    20003
1171    20170
1172    22310
1173    22554
1174    33837
1175    84604
1176    20004
1177    20874
1178    20110
1179    21223
1180    20171
1181    20175
1182    20191
1183    20003
1184    22310
1185    83001
1186    20871
1187    79845
1188    20176
1189    20170
1190    22060
1192    11768
1193    30152
1195    33065
1197    30032
1198    44313
1199    72712
Name: Vpostal, Length: 1101, dtype: object

In [54]:
# Check how many unique zip codes remain
df2_opioids['Vpostal'].nunique()

829

In [13]:
# Create new GEOID variable by transforming Vpostal into an integer (stripping the leading zeros from Vpostal)
strip_Vpostal = df2_opioids['Vpostal'].apply(int)

In [14]:
strip_Vpostal.head()

0    49048
1    30022
2    92683
3    77036
4    90026
Name: Vpostal, dtype: int64

In [15]:
len(strip_Vpostal)

1101

In [16]:
# Check zip codes count
strip_Vpostal.value_counts()

10006    18
33132    10
20019     7
80238     6
90028     4
80209     4
90009     4
33018     4
98103     4
80203     4
2740      4
75211     4
20011     4
33074     4
80206     4
77450     4
14009     3
2301      3
77072     3
80014     3
77494     3
22314     3
77503     3
94541     3
77063     3
30044     3
76028     3
89147     3
1902      3
23220     3
         ..
77095     1
77092     1
11554     1
75040     1
77084     1
77081     1
46360     1
30022     1
75081     1
75083     1
30046     1
98375     1
30066     1
77026     1
93550     1
75115     1
30052     1
40291     1
98104     1
30045     1
21223     1
30043     1
19802     1
30039     1
30038     1
75093     1
30034     1
60007     1
30032     1
45056     1
Name: Vpostal, Length: 829, dtype: int64

In [17]:
df3_opioids = df2_opioids.assign(GEOID = strip_Vpostal)

In [18]:
df3_opioids.head()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var247rec,var248rec,var249rec,var250rec,var251rec,var252rec,var253rec,var254rec,var255rec,GEOID
0,17,3/20/2018,Complete,,,English,,1521528719_5ab0af8fe318c0.83350522,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,47.40.144.98,...,2,2,1,1,2,1,1,1,1,49048
1,18,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/9ed49688-a2...,1521528831_5ab0afff9dad82.74757954,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,24.99.168.150,...,1,2,1,2,1,1,2,1,1,30022
2,22,3/20/2018,Complete,,,English,,1521528941_5ab0b06d95d276.07495051,Mozilla/5.0 (Linux; Android 7.0; Moto G (4) Bu...,47.151.21.204,...,2,1,1,1,1,1,2,2,2,92683
3,23,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/ed2140dc-95...,1521528964_5ab0b084821f35.43447059,Mozilla/5.0 (X11; CrOS x86_64 8872.73.0) Apple...,98.200.10.6,...,2,1,1,2,1,1,1,2,2,77036
4,24,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/0529624f-1a...,1521528989_5ab0b09d6dc659.59506533,Mozilla/5.0 (iPhone; CPU iPhone OS 8_4 like Ma...,174.210.7.12,...,2,1,1,2,1,1,2,2,2,90026

In [19]:
# Check new column GEOID
GEOIDslice = ['Vrid', 'Vpostal','GEOID']
GEOIDcheck = df3_opioids[GEOIDslice]
print(GEOIDcheck)

      Vrid Vpostal  GEOID
0       17   49048  49048
1       18   30022  30022
2       22   92683  92683
3       23   77036  77036
4       24   90026  90026
5       25   60073  60073
6       28   98501  98501
7       30   77040  77040
8       35   10463  10463
9       37   90013  90013
10      38   95124  95124
11      40   76033  76033
12      41   10016  10016
13      42   01463   1463
14      48   75134  75134
15      50   90004  90004
16      51   75115  75115
17      52   33025  33025
18      53   94127  94127
19      54   75270  75270
20      55   92126  92126
21      59   97403  97403
22      61   91741  91741
23      62   92415  92415
24      63   30039  30039
25      65   90038  90038
26      66   60438  60438
27      69   95132  95132
28      71   92882  92882
29      72   98405  98405
...    ...     ...    ...
1167  3098   20011  20011
1168  3102   20814  20814
1169  3121   27804  27804
1170  3125   20003  20003
1171  3129   20170  20170
1172  3173   22310  22310
1173  3184   22554  22554
1174  3187   33837  33837
1175  3188   84604  84604
1176  3189   20004  20004
1177  3193   20874  20874
1178  3198   20110  20110
1179  3199   21223  21223
1180  3200   20171  20171
1181  3205   20175  20175
1182  3208   20191  20191
1183  3211   20003  20003
1184  3212   22310  22310
1185  3213   83001  83001
1186  3216   20871  20871
1187  3217   79845  79845
1188  3219   20176  20176
1189  3227   20170  20170
1190  3228   22060  22060
1192  3240   11768  11768
1193  3242   30152  30152
1195  3263   33065  33065
1197  3268   30032  30032
1198  3269   44313  44313
1199  3292   72712  72712

[1101 rows x 3 columns]

In [20]:
# Save records with zip codes as a new csv file
df3_opioids.to_csv("Opioids_ZCSubset.csv", index=False)

In [21]:
# Read in ZIP Code Tabulation Areas Gazetteer File
df_ZCTA = pd.read_csv("2015_Gaz_zcta_national.txt", sep = "\t")
df_ZCTA.head()

,GEOID,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,601,166659883,799293,64.348,0.309,18.180555,-66.749961
1,602,79287203,4448761,30.613,1.718,18.361945,-67.175597
2,603,81884524,184089,31.616,0.071,18.455183,-67.119887
3,606,109579998,12487,42.309,0.005,18.158345,-66.932911
4,610,93021290,4171994,35.916,1.611,18.295366,-67.125135

In [22]:
len(df_ZCTA.index)

33144

In [23]:
# Create dataset with GEOID and ALAND_SQMI only, save as .csv
features = ['GEOID', 'ALAND_SQMI']
df2_ZCTA = df_ZCTA[features]

In [24]:
df2_ZCTA.head()

   GEOID  ALAND_SQMI
0    601      64.348
1    602      30.613
2    603      31.616
3    606      42.309
4    610      35.916

In [25]:
# Save land area by ZCTA as a new csv file
df2_ZCTA.to_csv("LandArea_ZCTA.csv", index=False)

In [26]:
# Read in housing unit counts by ZCTA from ACS data
df_HU = pd.read_csv("ACS_16_5YR_B25001_with_ann.csv", header=0, skiprows=[1])
df_HU.head()

           GEO.id  GEO.id2 GEO.display-label  HD01_VD01  HD02_VD01
0  8600000US00601      601       ZCTA5 00601       7290        154
1  8600000US00602      602       ZCTA5 00602      17312        196
2  8600000US00603      603       ZCTA5 00603      24594        334
3  8600000US00606      606       ZCTA5 00606       2763        118
4  8600000US00610      610       ZCTA5 00610      12265        170

In [27]:
# Rename GEO.id2 to GEOID
df_HU.rename(columns = {'GEO.id2':'GEOID'}, inplace=True)
df_HU.head()

           GEO.id  GEOID GEO.display-label  HD01_VD01  HD02_VD01
0  8600000US00601    601       ZCTA5 00601       7290        154
1  8600000US00602    602       ZCTA5 00602      17312        196
2  8600000US00603    603       ZCTA5 00603      24594        334
3  8600000US00606    606       ZCTA5 00606       2763        118
4  8600000US00610    610       ZCTA5 00610      12265        170

In [28]:
# Create dataset with GEOID and HD01_VD01 only, save as .csv
features2 = ['GEOID', 'HD01_VD01']
df2_HU= df_HU[features2]

In [29]:
df2_HU.head()

   GEOID  HD01_VD01
0    601       7290
1    602      17312
2    603      24594
3    606       2763
4    610      12265

In [30]:
len(df2_HU)

33120

In [32]:
# Save housing units by ZCTA as a new csv file
df2_HU.to_csv("HousingUnits_ZCTA.csv", index=False)

In [35]:
# Add housing units variable 'HD01_VD01' from df2_HU to survey dataframe df3_opioids by merging on GEOID
df_merged = pd.merge(df3_opioids, df2_HU, how='left', on='GEOID')
df_merged.head()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var248rec,var249rec,var250rec,var251rec,var252rec,var253rec,var254rec,var255rec,GEOID,HD01_VD01
0,17,3/20/2018,Complete,,,English,,1521528719_5ab0af8fe318c0.83350522,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,47.40.144.98,...,2,1,1,2,1,1,1,1,49048,10782.0
1,18,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/9ed49688-a2...,1521528831_5ab0afff9dad82.74757954,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,24.99.168.150,...,2,1,2,1,1,2,1,1,30022,24854.0
2,22,3/20/2018,Complete,,,English,,1521528941_5ab0b06d95d276.07495051,Mozilla/5.0 (Linux; Android 7.0; Moto G (4) Bu...,47.151.21.204,...,1,1,1,1,1,2,2,2,92683,28291.0
3,23,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/ed2140dc-95...,1521528964_5ab0b084821f35.43447059,Mozilla/5.0 (X11; CrOS x86_64 8872.73.0) Apple...,98.200.10.6,...,1,1,2,1,1,1,2,2,77036,30892.0
4,24,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/0529624f-1a...,1521528989_5ab0b09d6dc659.59506533,Mozilla/5.0 (iPhone; CPU iPhone OS 8_4 like Ma...,174.210.7.12,...,1,1,2,1,1,2,2,2,90026,26958.0

In [37]:
# Add land area variable 'ALAND_SQMI' from df2_ZCTA to merged dataframe df_merged by merging on GEOID
df_merged = pd.merge(df_merged, df2_ZCTA, how='left', on='GEOID')
df_merged.head()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var249rec,var250rec,var251rec,var252rec,var253rec,var254rec,var255rec,GEOID,HD01_VD01,ALAND_SQMI
0,17,3/20/2018,Complete,,,English,,1521528719_5ab0af8fe318c0.83350522,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,47.40.144.98,...,1,1,2,1,1,1,1,49048,10782.0,37.908
1,18,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/9ed49688-a2...,1521528831_5ab0afff9dad82.74757954,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,24.99.168.150,...,1,2,1,1,2,1,1,30022,24854.0,25.444
2,22,3/20/2018,Complete,,,English,,1521528941_5ab0b06d95d276.07495051,Mozilla/5.0 (Linux; Android 7.0; Moto G (4) Bu...,47.151.21.204,...,1,1,1,1,2,2,2,92683,28291.0,9.993
3,23,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/ed2140dc-95...,1521528964_5ab0b084821f35.43447059,Mozilla/5.0 (X11; CrOS x86_64 8872.73.0) Apple...,98.200.10.6,...,1,2,1,1,1,2,2,77036,30892.0,7.155
4,24,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/0529624f-1a...,1521528989_5ab0b09d6dc659.59506533,Mozilla/5.0 (iPhone; CPU iPhone OS 8_4 like Ma...,174.210.7.12,...,1,2,1,1,2,2,2,90026,26958.0,4.224

In [38]:
# Create new variable 'HD' housing density (housing units per square mile = HD01_VD01/ALAND_SQMI)
df_merged['HD'] = df_merged['HD01_VD01']/df_merged['ALAND_SQMI']
df_merged.head()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var250rec,var251rec,var252rec,var253rec,var254rec,var255rec,GEOID,HD01_VD01,ALAND_SQMI,HD
0,17,3/20/2018,Complete,,,English,,1521528719_5ab0af8fe318c0.83350522,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,47.40.144.98,...,1,2,1,1,1,1,49048,10782.0,37.908,284.425451
1,18,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/9ed49688-a2...,1521528831_5ab0afff9dad82.74757954,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,24.99.168.150,...,2,1,1,2,1,1,30022,24854.0,25.444,976.811822
2,22,3/20/2018,Complete,,,English,,1521528941_5ab0b06d95d276.07495051,Mozilla/5.0 (Linux; Android 7.0; Moto G (4) Bu...,47.151.21.204,...,1,1,1,2,2,2,92683,28291.0,9.993,2831.081757
3,23,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/ed2140dc-95...,1521528964_5ab0b084821f35.43447059,Mozilla/5.0 (X11; CrOS x86_64 8872.73.0) Apple...,98.200.10.6,...,2,1,1,1,2,2,77036,30892.0,7.155,4317.540182
4,24,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/0529624f-1a...,1521528989_5ab0b09d6dc659.59506533,Mozilla/5.0 (iPhone; CPU iPhone OS 8_4 like Ma...,174.210.7.12,...,2,1,1,2,2,2,90026,26958.0,4.224,6382.102273

In [52]:
# Check number of values in HD
len(df_merged['HD'])

1074

In [41]:
# Display rows with one or more null values
df_merged[df_merged.isnull().any(axis=1)]

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var250rec,var251rec,var252rec,var253rec,var254rec,var255rec,GEOID,HD01_VD01,ALAND_SQMI,HD
23,62,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/7a22080b-ef...,1521529681_5ab0b35183caa6.27000677,Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....,4.7.99.141,...,2,2,2,1,1,1,92415,NaN,NaN,NaN
77,151,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/d22ee76d-6a...,1521530904_5ab0b8185aa897.38419568,Mozilla/5.0 (Linux; Android 5.1.1; SM-G530T Bu...,172.58.95.123,...,2,1,1,2,2,2,94165,NaN,NaN,NaN
103,194,3/20/2018,Complete,,,English,,1521531684_5ab0bb248337f7.04350648,Mozilla/5.0 (Linux; Android 6.0.1; SM-J327P Bu...,66.87.139.93,...,2,1,1,2,1,2,98464,NaN,NaN,NaN
133,242,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/492a753a-a6...,1521532873_5ab0bfc9e22790.07401685,Mozilla/5.0 (Linux; Android 7.0; SAMSUNG SM-J3...,172.56.34.176,...,1,1,1,2,2,2,11249,NaN,NaN,NaN
168,309,3/20/2018,Complete,,,English,,1521558337_5ab12341816f12.84711703,Mozilla/5.0 (Linux; Android 6.0; BLU ADVANCE 4...,38.132.110.34,...,1,1,1,2,1,1,33074,NaN,NaN,NaN
207,370,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/333a6364-23...,1521559491_5ab127c36c1b04.99250915,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,209.208.213.52,...,1,1,1,1,1,1,33148,NaN,NaN,NaN
222,403,3/20/2018,Complete,,,English,,1521560007_5ab129c7cebf25.58288703,Mozilla/5.0 (Linux; Android 6.0; BLU ADVANCE 4...,38.132.110.34,...,1,1,1,1,1,1,33074,NaN,NaN,NaN
236,429,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/3400f312-29...,1521560609_5ab12c21cb0899.40876162,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,198.134.2.62,...,2,1,1,2,1,1,30301,NaN,NaN,NaN
241,438,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/b3a5533e-75...,1521560744_5ab12ca8ae8f01.85334469,Mozilla/5.0 (Linux; Android 7.0; SAMSUNG-SM-G9...,129.110.241.80,...,1,1,1,1,1,1,75083,NaN,NaN,NaN
247,453,3/20/2018,Complete,,,English,,1521558732_5ab124cc856289.34135799,Mozilla/5.0 (Linux; Android 6.0; BLU DASH L2 B...,38.132.110.35,...,2,1,1,2,1,2,33074,NaN,NaN,NaN
258,474,3/20/2018,Complete,,,English,,1521561556_5ab12fd4985495.19756388,Mozilla/5.0 (Linux; Android 6.0; BLU ADVANCE 4...,38.132.110.34,...,1,1,1,1,1,1,33074,NaN,NaN,NaN
317,571,3/20/2018,Complete,,,English,,1521563553_5ab137a197a826.80056545,Mozilla/5.0 (Linux; Android 4.4.2; en-us; ORIN...,38.95.108.235,...,1,1,2,2,1,1,90009,NaN,NaN,NaN
337,605,3/20/2018,Complete,,,English,,1521564837_5ab13ca5e47432.28378890,Mozilla/5.0 (Linux; Android 4.4.2; en-us; ORIN...,38.95.108.235,...,1,2,2,2,1,1,90009,NaN,NaN,NaN
366,661,3/20/2018,Complete,,,English,,1521567317_5ab146554ef459.32065301,Mozilla/5.0 (Linux; Android 6.0.1; Inspiron 10...,38.95.109.125,...,1,1,1,1,1,1,90009,NaN,NaN,NaN
383,691,3/20/2018,Complete,,,English,,1521568440_5ab14ab8a6b506.94222366,Mozilla/5.0 (Linux; Android 6.0; BLU STUDIO SE...,199.119.140.212,...,1,1,1,1,1,1,10118,NaN,NaN,NaN
472,913,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/c91efb91-d9...,1521576768_5ab16b4044d468.92017285,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; ...,24.248.26.162,...,1,2,1,1,1,1,23514,NaN,NaN,NaN
488,967,3/20/2018,Complete,,,English,,1521578890_5ab1738a453a95.34763467,Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_6 like...,172.58.107.132,...,1,1,2,1,2,1,75326,NaN,NaN,NaN
492,972,3/20/2018,Complete,,,English,,1521579825_5ab17731365bc7.37918646,Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537....,75.118.219.167,...,1,1,1,1,2,2,46325,NaN,NaN,NaN
543,1088,3/20/2018,Complete,,,English,,1521583280_5ab184b0a227b7.78633688,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,38.95.109.68,...,1,1,1,1,1,1,90009,NaN,NaN,NaN
593,1193,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/afb45fd0-8b...,1521586259_5ab1905387b7a5.12924925,Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_6 like...,107.77.237.96,...,2,1,1,2,1,2,30301,NaN,NaN,NaN
611,1225,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/6f6380ae-48...,1521587325_5ab1947d909686.26055524,Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_6 like...,173.11.96.218,...,2,1,1,2,2,2,94119,NaN,NaN,NaN
697,1428,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/2a96a3d8-1b...,1521595352_5ab1b3d8268e42.27249063,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:58.0) ...,131.94.186.70,...,2,2,2,1,1,2,33199,NaN,NaN,NaN
735,1513,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/ea3d2709-f4...,1521598623_5ab1c09f908b08.76681398,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:59...,128.218.43.136,...,1,1,1,1,1,1,94143,NaN,NaN,NaN
856,1839,3/21/2018,Complete,,,English,https://s.cint.com/Consent/Collect/229a87e7-b7...,1521664934_5ab2c3a68ac454.19265888,Mozilla/5.0 (Linux; Android 6.0.1; LG-M153 Bui...,107.77.249.1,...,2,1,1,2,2,2,29679,NaN,NaN,NaN
862,1854,3/21/2018,Complete,,,English,https://s.cint.com/Consent/Collect/cb42f181-2c...,1521666881_5ab2cb41a0ad40.84326393,Mozilla/5.0 (Linux; Android 4.4.2; 0PCV1 Build...,66.87.139.214,...,1,1,1,1,1,1,98464,NaN,NaN,NaN
980,2339,3/24/2018,Complete,,,English,https://s.cint.com/Consent/Collect/96e3070c-85...,1521910533_5ab68305618823.48454450,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:54...,207.126.211.111,...,2,2,2,1,1,1,77257,NaN,NaN,NaN
1066,3064,4/5/2018,Complete,,,English,https://s.cint.com/Consent/Collect/26b2492a-69...,1522921603_5ac5f083026b80.07116318,Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...,73.86.114.61,...,1,1,1,2,1,1,20813,NaN,NaN,NaN

In [42]:
before_rows = df_merged.shape[0]
print(before_rows)

1101

In [43]:
# Drop rows with missing values
df_merged = df_merged.dropna()

In [45]:
after_rows = df_merged.shape[0]
print(after_rows)

1074

In [46]:
# Check number of rows dropped
before_rows - after_rows

27

In [55]:
# Check how many unique zip codes remain
df_merged['GEOID'].nunique()

810

In [57]:
# Create new variable 'CT' community type (Urban: >2,213 hu/sqmi; Suburban: 102 to 2,213 hu/sqmi; Rural: <102 hu/sqmi)
df_merged['CT']=np.where(df_merged['HD']>2213, 0,(np.where(df_merged['HD']<102,2,1)))
df_merged.head()

,Vrid,Vdatesub,Vstatus,Vcid,Vcomment,Vlanguage,Vreferer,Vsessionid,Vuseragent,Vip,...,var251rec,var252rec,var253rec,var254rec,var255rec,GEOID,HD01_VD01,ALAND_SQMI,HD,CT
0,17,3/20/2018,Complete,,,English,,1521528719_5ab0af8fe318c0.83350522,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,47.40.144.98,...,2,1,1,1,1,49048,10782.0,37.908,284.425451,1
1,18,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/9ed49688-a2...,1521528831_5ab0afff9dad82.74757954,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,24.99.168.150,...,1,1,2,1,1,30022,24854.0,25.444,976.811822,1
2,22,3/20/2018,Complete,,,English,,1521528941_5ab0b06d95d276.07495051,Mozilla/5.0 (Linux; Android 7.0; Moto G (4) Bu...,47.151.21.204,...,1,1,2,2,2,92683,28291.0,9.993,2831.081757,0
3,23,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/ed2140dc-95...,1521528964_5ab0b084821f35.43447059,Mozilla/5.0 (X11; CrOS x86_64 8872.73.0) Apple...,98.200.10.6,...,1,1,1,2,2,77036,30892.0,7.155,4317.540182,0
4,24,3/20/2018,Complete,,,English,https://s.cint.com/Consent/Collect/0529624f-1a...,1521528989_5ab0b09d6dc659.59506533,Mozilla/5.0 (iPhone; CPU iPhone OS 8_4 like Ma...,174.210.7.12,...,1,1,2,2,2,90026,26958.0,4.224,6382.102273,0

In [59]:
# Check CT frequencies
df_merged.CT.value_counts()

1    630
0    396
2     48
Name: CT, dtype: int64

In [60]:
# Save merged dataframe as a new csv file
df_merged.to_csv("OpioidsMerged.csv", index=False)

### Use cluster analysis to identify associated clusters of demographic/experiential variables and opioid attitudes

In [10]:
from kmodes.kmodes import KModes
import python_utils
from itertools import cycle, islice
import matplotlib.pyplot as plt
from pandas.tools.plotting import parallel_coordinates
%matplotlib inline

In [87]:
# Select features of interest and create dataframe for cluster analysis
features = ['GEOID','var9', 'var11', 'var12', 'var13', 'educrec', 'incomerec', 'var16', 'politrec', 'var217',
            'var230', 'var231', 'var232', 'var233', 'var234', 'var235', 'var236', 'var237rec', 'var238rec', 
            'var239rec', 'var240rec', 'var241rec', 'var242rec', 'var243rec', 'var244rec', 'var245rec', 'var246', 
            'var247rec','var248rec', 'var249rec', 'var250rec', 'var251rec', 'var252rec', 'var253rec', 'var254rec',
            'var255rec', 'CT']
cslice = df_merged[features]
cslice.head()

,GEOID,var9,var11,var12,var13,educrec,incomerec,var16,politrec,var217,...,var247rec,var248rec,var249rec,var250rec,var251rec,var252rec,var253rec,var254rec,var255rec,CT
0,49048,10001,10023,10026,10031,3,2,10052,1,10657,...,2,2,1,1,2,1,1,1,1,1
1,30022,10006,10024,10027,10031,3,3,10055,2,10657,...,1,2,1,2,1,1,2,1,1,1
2,92683,10001,10023,10025,10034,2,2,10056,3,10656,...,2,1,1,1,1,1,2,2,2,0
3,77036,10004,10024,10025,10036,2,1,10052,3,10656,...,2,1,1,2,1,1,1,2,2,0
4,90026,10001,10024,10029,10034,2,2,10056,1,10656,...,2,1,1,2,1,1,2,2,2,0

In [88]:
cslice.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
GEOID,1074.0,54169.885475,33393.072468,1331.0,22038.25,60601.5,80238.0,99504.0
var9,1074.0,10005.189944,2.994753,10001.0,10003.00,10005.0,10008.0,10010.0
var11,1074.0,10023.510242,0.500128,10023.0,10023.00,10024.0,10024.0,10024.0
var12,1074.0,10027.600559,1.524463,10025.0,10026.00,10027.0,10029.0,10030.0
var13,1074.0,10031.665736,1.216920,10031.0,10031.00,10031.0,10032.0,10036.0
educrec,1074.0,2.764432,1.009462,1.0,2.00,3.0,4.0,4.0
incomerec,1074.0,1.965549,0.782929,1.0,1.00,2.0,3.0,3.0
var16,1074.0,10053.208566,1.666310,10052.0,10052.00,10052.0,10054.0,10058.0
politrec,1074.0,2.002793,1.024850,1.0,1.00,2.0,3.0,5.0
var217,1074.0,10657.161080,1.195336,10656.0,10656.00,10657.0,10657.0,10661.0
var230,1074.0,10723.484171,0.959686,10722.0,10723.00,10723.0,10724.0,10725.0
var231,1074.0,10726.576350,0.636158,10726.0,10726.00,10726.0,10727.0,10728.0
var232,1074.0,10729.828678,0.727874,10729.0,10729.00,10730.0,10730.0,10732.0
var233,1074.0,10733.625698,0.812031,10733.0,10733.00,10733.0,10734.0,10736.0
var234,1074.0,10739.083799,1.126011,10737.0,10738.00,10740.0,10740.0,10740.0
var235,1074.0,10743.118250,1.107453,10741.0,10742.00,10744.0,10744.0,10744.0
var236,1074.0,10747.900372,1.663808,10745.0,10746.00,10748.0,10749.0,10750.0
var237rec,1074.0,1.332402,0.471294,1.0,1.00,1.0,2.0,2.0
var238rec,1074.0,1.336127,0.472603,1.0,1.00,1.0,2.0,2.0
var239rec,1074.0,1.511173,0.500108,1.0,1.00,2.0,2.0,2.0
var240rec,1074.0,1.409683,0.492004,1.0,1.00,1.0,2.0,2.0
var241rec,1074.0,1.294227,0.455907,1.0,1.00,1.0,2.0,2.0
var242rec,1074.0,1.439479,0.496555,1.0,1.00,1.0,2.0,2.0
var243rec,1074.0,1.522346,0.499733,1.0,1.00,2.0,2.0,2.0
var244rec,1074.0,1.357542,0.479499,1.0,1.00,1.0,2.0,2.0
var245rec,1074.0,1.244879,0.430216,1.0,1.00,1.0,1.0,2.0
var246,1074.0,10787.554935,0.692968,10787.0,10787.00,10787.0,10788.0,10789.0
var247rec,1074.0,1.462756,0.498843,1.0,1.00,1.0,2.0,2.0
var248rec,1074.0,1.265363,0.441732,1.0,1.00,1.0,2.0,2.0
var249rec,1074.0,1.313780,0.464244,1.0,1.00,1.0,2.0,2.0
var250rec,1074.0,1.492551,0.500177,1.0,1.00,1.0,2.0,2.0
var251rec,1074.0,1.262570,0.440236,1.0,1.00,1.0,2.0,2.0
var252rec,1074.0,1.341713,0.474505,1.0,1.00,1.0,2.0,2.0
var253rec,1074.0,1.481378,0.499886,1.0,1.00,1.0,2.0,2.0
var254rec,1074.0,1.297020,0.457159,1.0,1.00,1.0,2.0,2.0
var255rec,1074.0,1.380819,0.485815,1.0,1.00,1.0,2.0,2.0
CT,1074.0,0.675978,0.555612,0.0,0.00,1.0,1.0,2.0

In [89]:
# Next step: Use the elbow method to determine the optimal number of clusters for k-modes clustering